.postShareIcons {
  position: absolute;
  top: 196px;
  right: 15px;
}

@media(min-width: 940px) {
  .postShareIcons {
    top: 120px;
    right: 35px;
  }
}

.postDescription {
  font-weight: bold;
  margin: 0 0 2em;
}
