.postShareIcons {
  position: absolute;
  top: 196px;
  right: 15px;
}

@media(min-width: 940px) {
  .postShareIcons {
    top: 120px;
    right: 35px;
  }
}

.postContent {
  display: block;
  width: 100%;
}

@media(min-width: 700px) {
  .postContent {
    display: inline-block;
    width: calc(100% - 200px);
    vertical-align:top;
  }
}

.postDescription {
  font-weight: bold;
  margin: 0 0 2em;
}

.postCommercial {
  display: none;
}

@media(min-width: 700px) {
  .postCommercial {
    display: inline-block;
    width: 200px;
    vertical-align: top;
  }
}

.postCommercialHorizontal {
  margin: 0 0 0 32px;
}
