.postDate {
  margin: -2em 0 2em;
}

.postShareIcons {
  position: absolute;
  top: 140px;
  right: 35px;
}

@media(min-width: 1140px) {
  .postShareIcons {
    top: 425px;
  }
}

.postDescription {
  font-weight: bold;
  margin: 0 0 2em;
}

.postBody {

}
