.previewWrapper {
  border: 1px solid #eee;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.previewVideo {
  margin: -16px 0;
}

.previewImage {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.previewContent {
  padding: 32px;
}

.previewTitle {
  font-size: 1.2em;
  color: green;
  margin: 0;
}

.previewDescription, .previewDescription p {
  margin: 0;
}
.previewDescription p {
  margin-top: 16px;
}
