.hero {
  position: relative;
  width: 100vw;
  height: 61.8vh;
  max-height: 350px;
  margin-bottom: 16px;
  overflow: hidden;
}

.hero.heightDefined {
  max-height: 250px;
}

@media(min-width: 1140px) {
  .hero {
    margin-left: calc(-50vw + (1140px / 2));
  }
}

.heroTitle {
  position: absolute;
  left: 0;
  right: 0;
  margin: 64px auto 0;
  padding: 0 64px;
  text-align: center;
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.hero.heightDefined .heroTitle {
  font-size: 3rem;
  line-height: 3.2rem;
  max-width: 800px;
}

@media(min-width: 760px) {
  .heroTitle {
    font-size: 2.5rem;
    line-height: 2.7rem;
    max-width: 600px;
  }
}

@media(min-width: 1140px) {
  .heroTitle {
    font-size: 3rem;
    line-height: 3.2rem;
    max-width: 800px;
  }
}

.heroDate {
  position: absolute;
  bottom: 64px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroImageOverlayLeft, .heroImageOverlayRight {
  position: absolute;
  bottom: -120px;
  display: block;
  width: 70%;
  height: 180px;
  background: #fff;
}
.heroImageOverlayLeft {
  left: -30px;
  transform: rotate(10deg);
}
.heroImageOverlayRight {
  right: -30px;
  transform: rotate(-10deg);
}
