nav {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navigation {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  list-style: none;
  padding: 24px 0;
  margin: 0;
  font-size: 1.25em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}
.navigationItem a {
  color: currentColor;
  text-decoration: none;
}
.navigationItem a:hover {
  color: currentColor;
  text-decoration: underline;
}