nav {
  display: flex;
  justify-content: center;
}

.navigation {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 32px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

@media(min-width: 1140px) {
  .navigation {
    padding: 0;
  }
}

.navigationItem {
  align-items: center;
  margin-top: 24px;
}
.navigationItemLink {
  padding: 0 16px;
  padding-bottom: 28px;
}
.navigationItemLinkActive {
  border-bottom: 4px solid green;
}
.navigationItem:first-child {
  margin-top: 0px; 
  margin-right: auto;
  padding: 16px 0;
}
.navigationItemLink:hover {
  border-bottom: 4px solid green;
}

.namePrimary {
  font-weight: 900;
  font-size: 200%;
  padding: 8px 8px 8px 0;
}
.nameSecondary {
  font-weight: 400;
  font-size: 200%;
  padding: 8px 0 8px 8px;
  border-left: 1px solid #ccc;
}

.navigationItem a, .navigationItem a:hover {
  color: currentColor;
  text-decoration: none;
  font-size: .85em;
}
